@import '../../style/index.scss';

:host {
    --item-margin: 10px;
    --item-offset: 0px;
    --item-width: 300px;
    --member-height: 500px;
    --text-height: 8em;

    display: flex;
    flex-direction: row;
    font: $font-text;
    color: $text-color;

    @media (max-width: 768px) {
      --item-width: 200px;
      --member-height: 400px;
      --text-height: 10em;
    }
  }

  .btn-next,
  .btn-prev {
    background: none;
    border: 0;
    color: $selection;
    cursor: pointer;
    font-size: 36px;
    outline: none;
    @media (max-width: 390px) {
      display: none
    }
  }

  .hidden {
    visibility: hidden;
  }

  #member {
    display: flex;
    flex: 1;
    overflow: hidden;
    position: relative;
    height: 500px;
    @media (max-width: 390px) {
      scroll-snap-type: x mandatory;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &::after {
        background: linear-gradient(to right, $background-dark 0%,transparent 3%,transparent 97%,$background-dark 100%);
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        @media (max-width: 390px) {
          display: none
        }
      }

      article {
        box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
        box-sizing: border-box;
        flex-shrink: 0;
        margin: var(--item-margin);
        padding: 10px;
        /* width + left and right margins */
        transform: translateX(calc(-1 * var(--item-offset)));
        transition: transform 300ms;
        width: var(--item-width);
        @media (max-width: 390px) {
          scroll-snap-align: center;
        }

        img {
            width:100%;
            margin: auto;
            border-radius: 100%;
        }

        .info {
            border: 2px solid $selection;
            background-color: $background-light;
            border-radius: 15px;
            margin-top: 0.5em;
            height: var(--text-height);
            padding:0 1em;
        }
      }
  }

  
