@import './variables.scss';
html {
  body {
    background-color: $background-dark;
    margin: 0;
    padding: 0;
    overflow-x: clip;

    cei-header {
      width: 100vw;
      position: sticky;
      top: 0;
    }

    cei-member {
      margin: 5vh 5%;
    }

    #hero {
      top: $header-height;
      left: 0;
      height: calc(100vh - $header-height);
      width: 100%;
      display: flex;
      pointer-events: none;

      @media (max-width: 768px) {
        height: calc(50vh - $header-height);
      }

      svg {
        position: absolute;
        margin: auto;
        width: 40%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.8);
        top: 50vh;

        @media (max-width: 768px) {
          top: 25vh;
        }

        &:not(#logoTxt)>path{
          stroke:#F8FC09;
          stroke-dasharray: 8338.7822265625;
          stroke-dashoffset: 8338.7822265625;

          animation: test 7s linear forwards;
          @keyframes test {
            0% {
              fill: #f8fc0900;

            }

            60% {
              fill: #f8fc0900;
            }

            99% {
              stroke-dashoffset: 0;
            }
            to {
              fill: #F8FC09;
            }
          }
        }

        &#logoTxt {
          fill: #F8FC09;
            animation: rotation 440s infinite linear;
            @keyframes rotation {
                from {
                  transform: translate(-50%, -50%) scale(1) rotate(0deg);
                }
                to {
                  transform: translate(-50%, -50%) scale(1) rotate(359deg);
                }
              }
        }
      }

      @media (max-width: 390px) {
        img {
          margin-top: 30%;
          width: 80%;
        }
      }
    }

    main {
      background-color: $background-dark;

      #cardHolder {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 12.5vw;
        @media (max-width: 768px) {
          display: grid;
        }
        & > * {
          $parent-size: calc(100vw - 25vw);
          $percent-per-card: calc($parent-size / $amount-of-card-per-row);
          $percent-by-side: calc($percent-per-card / 4);
          margin: 2.5vh $percent-by-side; // calcul pour définir le nombre d'élements par ligne
        }

        @media (max-width: 390px) {
          & > * {
            margin: 2.5vh auto;
          }
        }
      }
    }
  }
}
