@import './variables.scss';
body {
    background-color: $background-dark;
    margin: 0;
    padding: 0;
    overflow-x: clip;

    cei-header {
        width: 100vw;
    }

    #hero {
        position: absolute;
        top: $header-height;
        left: 0;
        height: calc(100% - $header-height);
        width: 100%;
        display: flex;
        pointer-events:none;

        img {
            margin: auto;
            width: 40%;
        }
    }
}