$background-dark: #24263B;
$background-light: #393C5C;
$foreground-light: #4F5384;
$selection: #FFD42A;

$text-color: whitesmoke;

$drop-shadow: 0px 5px 10px 10px #0000001a;

$header-height: 4em;

$card-width: 15vw;
$card-height: 17vw;

$mobile-card-width: 50vw;
$mobile-card-height: 50vw;

$amount-of-card-per-row: 4;