@import '../../style/variables.scss';

:host {
  transition: 1s;
  transform: scale(1);
  box-shadow: $drop-shadow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: $card-width;
  max-width: $card-width;
  height: $card-height;
  $tier-height: calc($card-height / 3);
  color: $text-color;

  @media (max-width: 768px) {
    max-width: unset;
    width: 40vw;
    height: 30vh;
  }

  @media (max-width: 390px) {
    width: $mobile-card-width;
    max-width: $mobile-card-width;
    height: $mobile-card-height;
    $tier-height: calc($mobile-card-height / 3);
  }
  #top-card {
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    background-color: $foreground-light;
    object-fit: cover;
    height: calc($tier-height * 2);
    max-height: calc($tier-height * 2);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  #bottom-card {
    background-color: $background-light;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    height: $tier-height;
    max-height: $tier-height;
    padding: 1em;
    color: $text-color;

    h1 {
      font-size: 1.5em;
      margin: 0;
    }
    p {
      font-size: 1em;
      margin: 0;
    }
  }
}

:host(:hover) {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  transform: scale(1.1);
}
